/* style.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff8e;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Add this to your CSS file */
.dash-interval {
    display: none; /* Hide the updating message */
}

h1 {
    color: #00549f;
    text-align: center;
    margin-top: 20%;
}

.slider-label {
    font-weight: bold;
    color: #cc2323;
    margin-left: 1%;
}

.slider {
    margin-top: 1%;
    margin-left: 1%;
}

.layer-properties {
    margin: 1%;
}

.input-label {
    margin: 2%;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer; /* Pointer cursor on hover */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px; /* Width of the tooltip */
    background-color: #00559fad; /* Background color */
    color: #fff; /* Text color */
    text-align: center;
    font-family: 'Arial', sans-serif; /* Font family */
    font-size: 14px; /* Font size */
    font-weight: 400; /* Font weight (400 is regular) */
    line-height: 1.4; /* Line height for readability */
    border-radius: 6px; /* Rounded corners */
    padding: 5%; /* Padding inside the tooltip */
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 105%; /* Position it slightly to the right of the icon */
    transform: translateY(-50%);
    opacity: 0; /* Start as hidden */
    transition: opacity 0.3s; /* Fade effect */
    white-space: wrap; /* Prevent text wrap */
}

/* Info icon */
.info-icon {
    width: 15px; /* Width of the icon */
    height: 15px; /* Height of the icon */
    margin-left: 2px; /* Space between label and icon */
}

/* Show the tooltip on hover */
.tooltip:hover .tooltiptext {
    visibility: visible; /* Show tooltip */
    opacity: 1; /* Make it visible */
}



.graph-container {
    background-color: #1777d185;
    border-radius: 1%;
    box-shadow: 0px 4px 8px rgba(133, 25, 25, 0.1);
    padding: 0.5%;
}

.logo {
    margin-top: 0.5%;
    margin-left: 4%;
}

/* Responsive layout for narrow screens */
@media screen and (max-width: 700px) {
    .graph-container {
        width: 100%;
    }

    #control-container {
        width: 100%;
        margin-bottom: 1%;
    }

    .slider-container {
        width: 100%;
    }
}
