/* style.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff8e;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    color: #00549f;
    text-align: center;
    margin-top: 20%;
}

.slider-label {
    font-weight: bold;
    color: #cc2323;
    margin-left: 1%;
}

.slider {
    margin-top: 1%;
    margin-left: 1%;
}


.layer-properties {
    margin: 2%;

}

.input-label{
    margin: 2%;

}



.graph-container {
    background-color: #1777d185;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.logo {
    margin-top: 0.5%;
    margin-left: 4%;
}


/* Responsive layout for narrow screens */
@media screen and (max-width: 700px) {
    .graph-container {
        width: 100%;
    }

    #control-container {
        width: 100%;
        margin-bottom: 20px;
    }

    .slider-container {
        width: 100%;
    }
}
